@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
  
  select {
    @apply outline-none;
  }
  
  select:focus {
    @apply ring-2 ring-primary-500 border-primary-500;
  }
  
  select option {
    @apply bg-white text-gray-900;
  }
}

